.redBackground {
    background-color: red;
}

.whiteFont {
    color: white;
}

.greenBackground {
    background-color: green;
}

.blackFont {
    color: black;
}

.blackBackground {
    background-color: black;
}
